{% extends 'templates/app.twig' %}

{% block content %}

	<div class = "row">

		<div class = ".col-md-6 col-md-offset-3">

			<div class = "panel panel-default">

				<div class = "panel-heading">Add Product</div>
				<div class = "panel-body">

					<form action = "{{path_for('product.add')}}" method = "post" autocomplete = "off">

						<div class ="form-group{{ errors.email ? ' has-error' : "" }}">

							<label for = "name">Product Name</label>
							<input type="text" name="name" id="name" value="" placeholder="Cortado" class="form-control">
							<!-- {% if errors.email %}
								<span class = "help-block">{{ errors.email | first }}</span>
							{% endif %} -->
						</div>

						<div class ="form-group{{ errors.name ? ' has-error' : "" }}">

							<label for = "price">Price</label>
							<input type="number" name = "price" id="price" class = "form-control">
							<!-- {% if errors.name %}
								<span class = "help-block">{{ errors.name | first }}</span>
							{% endif %} -->
						</div>

						<button type = "submit" class = "btn btn-default">Add Product</button>

						{{ csrf.field | raw }}

					</form>


					<table class="table table-bordered" id="dynamic_field">
						
					</table>

				</div>

			</div>

		</div>

	</div>

<script type="text/javascript">


loadData(function (data) {
	
	buttonsLoad(data);
	listProducts(data);
})


// Selecting the row
function buttonsLoad(productList) {
	$(document).on('click', '.confirm', function(){

		var focusedProduct = $(this).attr('id');

		$.confirm({
		    title: 'Delete Product',
		    content: 'Are you sure to delete the product?',
		    buttons: {

		        confirm: {
		        	btnClass: 'btn-success',
		        	action: function () {
		        		window.location.href = "../product/delete/"+productList[focusedProduct].id; 
		        	},
		        
		        },

		        cancel: {
		        	btnClass: 'btn-danger',
		        	action: function () {
		            	$.alert('Canceled!');
		      		},
		        }

		        

		        // somethingElse: {
		        //     text: 'Something else',
		        //     btnClass: 'btn-blue',
		        //     keys: ['enter', 'shift'],
		        //     action: function(){
		        //         $.alert('Something else?');
		        //     }
		        
		        // }
		    }
		});

	});

	$(document).on('click', '.btn_update', function(){
		
		let focusedProduct = $(this).attr('id');
		let fp = focusedProduct.slice(-1);
		window.location.href = "../product/update/"+productList[fp].id;
		
		// window.location.href = "../product/update/"+productList[fp].id;



	});

};

function listProducts(productList){

for (i in productList){
	$('#dynamic_field').append(`
		
		<tr id="row` + i + `">
			<td>` + productList[i].name + "     " + productList[i].price + `</td>
			<td><button name="update" id="update` + i + `" class="btn btn-success btn_update">Update</button></td>
			<td><button name="delete" id="` + i + `" class="btn btn-danger btn_remove confirm">X</button></td>
		</tr>

		`);
}

};

</script>

{% endblock %}